.detail {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100%;
    color: bisque;
    background-color: #252523;
    background-size: cover;
}

.description {
    text-align: start;
    margin-left: 2%;
}

.image {
    width: 500px;
    height: 300px;
}

.back {
    cursor: pointer;
    background-color: bisque;
}

.link {
    text-decoration: none;
    color: #252523;
}
