.pag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 40%;
    gap: 2%;
    margin-bottom: 2%;
}

.buttons {
    color: bisque;
    background-color: #222222;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: medium;
}

.current {
    color: #222222;
    background-color: bisque;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: large;
}
